*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
 
    color: rgb(8,46,183);
    background-color:rgb(255,209,1) ;
  
}
.main{
    width: 100%;
    height: 100vh;
}

/*Inicia seccion 1*/
.section-1{
    width: 100%;
    height: 16em;
    background-color: rgb(255,209,1);
    padding: 25px;
    
}

.header{
    background-color: rgb(255,209,1);
    width: 100%;
    height: 9.5em;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size:x-large     ;

}
.img{
    width: 25%;
    height: 100%;
}
.menu{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.img img{
    object-fit: cover;
    height: 100%;
}
.menu a{
    display: flex;
    text-decoration: none;
    color: #fff;
    padding: 2em 1em;
}
.menu a:hover{
    background-color: #082eb7;
}

/*Finaliza seccion 1*/
/*inicia seccion galeria*/
.box-gallery{
    width: 100%;
    border: 20px solid#082eb7;
    height: 300px;
    display: flex;
    overflow: hidden;
   

}
.box{
    width: 500px;
    transition: width 0.5s ease;
     &:hover{
        width: 750px;
       
        
    }

}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    transition: filter 0.5s ease;
}

/*Finaliza seccion galeria*/
/*Inicia seccion 2*/
.section-2{
    padding: 8%;
    font-size: xx-large;
}
.s2-textos{
text-align: center;
}
.s2-contenido{
    padding: 8%;
}
.contenido-texto1{
  padding: 8%; 

}
/*Finaliza seccion 2*/

/*Inicia seccion 3*/
.section-3{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    font-size:x-large;
}
/*Finaliza seccion 3*/
.section-4{
 text-align: center;
 
    
}
