*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
 
 
    color: rgb(8,46,183);
    background-color:rgb(255,209,1) ;
  
}
.header{
    background-color:rgb(255,209,1) ;
     color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    display:inline-flex;
 
  
    justify-content: center;
    align-items: center;
  

}
.section1{
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
table{
   border-collapse: collapse;
   border-spacing: 10px;
   width: 60px;
   margin:20px auto;
   text-align: center;
}
caption{
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;

}
th,td{
    border: 5px;
    padding: 8px 12px;
}