* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #e9e9e9;
  font-family: 'Courier New', Courier, monospace, monospace;
  font-weight: 300;
 
}

header {
  padding-bottom: 0.5rem;
  padding-top: 0.25rem;
  text-align: center;
  background-color:rgb(33, 63, 95);
  font-weight: 400;
  font-size: 2.5rem;
  color: #e9e9e9;
  

}
.section-1{
	padding:  5%;

}



main {
  padding: 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.card {
	position: relative;
	width: 306px;
	height: 306px;
	border-radius: 10px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
	font-size: 0.25rem;
}

.card::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(
		360deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 71.84%
	);
	opacity: 0;
	top: 0;
	border-radius: 10px;
}

.card:hover::before {
	opacity: 1;
	transition: all 0.5s;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.card .card-content {
	position: absolute;
	bottom: -20px;
	opacity: 0;
	color: white;
	transition: all 0.5s;
	padding: 10px;
	font-size: 0.75rem;
}

.card .card-content h2 {
	font-size: 1rem;
	margin-bottom: 0.75rem;
  font-weight: 600;
}

.card:hover .card-content {
	opacity: 1;
	bottom: 0;
}




.footer{
    padding: 5%;
    background-color: rgb(33, 63, 95);
    color: antiquewhite;
	text-align: left;
}
a {
  color: white; /* O #000000 */
  text-decoration: none; /* Opcional: para quitar la línea */
}

/* Opcional: cambiar el color al pasar el mouse */
a:hover {
  color: #333; /* Un negro más claro o gris */
}