*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.header{
    background-color: rgb(33, 63, 95);
    width: 100%;
    height: 11em;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size:x-large     ;

}
.container{
    padding: 3%;
   
}
.footer{
    padding: 5%;
    background-color: rgb(33, 63, 95);
    color: antiquewhite;
}

a {
  color: white; /* O #000000 */
  text-decoration: none; /* Opcional: para quitar la línea */
}

/* Opcional: cambiar el color al pasar el mouse */
a:hover {
  color: #333; /* Un negro más claro o gris */
}



